# Mix changes
#
MIX_DEPS_PATH=<required in dev w/ docker-compose>
MIX_BUILD_PATH=<required in dev w/ docker-compose>

# Database credentials
#
POSTGRES_USERNAME=<required>
POSTGRES_PASSWORD=<required>
POSTGRES_HOSTNAME=<required>
POSTGRES_DATABASE=<required>

ENCRYPTION_KEYS=<required>
GUARDIAN_SECRET_KEY=<required>
